@import url("https://fonts.googleapis.com/css?family=Comfortaa|Montserrat:500|Rokkitt");

/* MENU */

nav label {
   font-weight: bold;
}

.nav li {
   margin: auto 0;
}

#current-user {
   font-weight: bold;
}

/* .filter {
   display: none;
} */

#filter-dropdown {
   min-width: 50vw;
}

#filter-and-tags tags {
   width: 100%;
}

/* END MENU */

/* BULK EDIT */

.tags-with-button {
   grid-template-columns: 1fr auto;
   grid-template-rows: auto;
   display: grid;
   grid-gap: 15px;
}

.tags-with-button>button {
   margin: auto 0;
}

#bulk-tag-editor tags {
   width: 100%;
}

/* END BULK EDIT */

.badge,
.badge-pill {
   padding: 5px;
   vertical-align: middle;
   margin: 1px 2px;
}

/* TAGS */

.tag-filter {
   grid-template-columns: auto 1fr;
   display: grid;
   width: 100%;
   min-width: 400px;
}

.tag-filter>a {
   margin: auto 0;
   /* grid-column: 1/2; */
}

/* .tag-filter tags {
   grid-column: 2/3;
} */

.tag-filter .popover {
   width: 800px;
   max-width: 800px;
   position: absolute;
}

tags.tagify {
   display: inline-block;
   margin: 5px;
}

.available-tags {
   margin: 0;
   padding: 0;
   font-size: larger;
}

.available-tags-list {
   grid-column: 1 / 3;
}

.tagify__input {
   display: inline-block !important;
   /* width: 100%; */
}

/* END TAGS */

/* ITEM LISTING */

#view-container {
   margin: 10px;
}

#view-container.block-listings {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
   grid-auto-rows: max-content;
   grid-gap: 0.5rem;
   margin: 10px;
}

/* Listing container */
.item-listing {
   /* TODO: Implement different display styles */
   border: 1px solid black;
   padding: 5px;
   border-radius: 10px;

   display: grid;
   grid-template-columns: 72px auto auto 1fr;
   grid-template-rows: auto auto 1fr auto;
   align-items: flex-start;
   grid-template-areas:
      "siteimg title title title"
      "siteimg content content content"
      "siteimg domain altlinks controls"
      "siteimg tagcontainer tagcontainer tagcontainer";
}

.block-listings .item-listing {
   border: 1px solid black;
   padding: 5px;
   border-radius: 10px;

   display: grid;
   grid-template-columns: auto 1fr auto;
   grid-template-rows: auto auto 1fr auto;

   align-items: end;
   grid-template-areas:
      "title title title"
      "content content content"
      "tagcontainer tagcontainer tagcontainer"
      "domain altlinks controls";
}

.item-listing.selected {
   border-color: green;
   background: #f2ffea;
}

.only-selected .item-listing {
   display: none !important;
}

.only-selected .item-listing.selected {
   display: grid !important;
}

/* Site image */
.item-listing .site-img {
   grid-area: siteimg;
   align-self: center;
}

.item-listing .site-img img {
   width: 64px;
   height: auto;
   max-height: 120px;
}

.block-listings .site-img {
   display: none;
}

/* Favicon */
.item-listing .icon-container img {
   max-width: 24px;
   max-height: 24px;
   height: auto;
}

/* Domain */
.item-listing .domain {
   grid-area: domain;
   font-size: smaller;

   color: #067014;
   font-family: "Comfortaa", cursive;
   font-family: "Montserrat", sans-serif;
   font-weight: bold;
   text-align: center;
   align-self: center;
}

/* Title */
.item-listing .title {
   grid-area: title;
   font-family: "Montserrat", sans-serif;
   font-weight: bold;
   font-size: smaller;
   text-align: left;
}

/* Alternative site/service links */
.item-listing .alt-links {
   grid-area: altlinks;
}

.block-listings .alt-links {
   text-align: right;
}

.item-listing .alt-links img {
   height: 20px;
   width: 20px;
   /* display: inline-block; */
   margin: 0 3px;
}

/* Summay  */

.item-listing .summary {
   grid-area: content;
   font-family: "Rokkitt", serif;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
   cursor: pointer;
}

.full-summaries .summary,
.item-listing .summary.full {
   overflow: hidden;
   white-space: initial;
   text-overflow: unset;
   cursor: auto;
}



/* Bookmark Controls */
.item-listing .item-controls {
   grid-area: controls;
}

.item-listing .item-controls .confirm-delete {
   display: none;
}

.icon-btn,
.icon-btn:hover {
   text-decoration-line: none;
}

.icon-btn svg {
   display: inline-block;
   width: 16px;
   height: 16px;
   margin: 1px 4px;
   vertical-align: text-bottom;
}

.gray-icon-btn svg {
   fill: #c2c2c2;
}

.gray-icon-btn:hover svg {
   fill: #46a2e3;
}

.gray-icon-btn.selected svg {
   fill: #2960a3;
}

.red-icon-btn svg {
   fill: #c2c2c2;
}

.danger-icon-btn:hover svg,
.danger-icon-btn.selected svg,
.red-icon-btn:hover svg {
   fill: #f25050;
}

.danger-icon-btn svg,
.red-icon-btn.selected svg {
   fill: #bf3f3f;
}

/* Tags */
.item-listing .tag-container {
   grid-area: tagcontainer;
   align-self: flex-end;
}

.item-listing .tag-edit-container {
   display: none !important;
}

.item-listing.edit-tags .tag-edit-container {
   display: block !important;
}

#item-tag-editor {
   display: none !important;
}

.tag-like,
.item-listing .tag-container .current-tags {
   display: inline-block;
   font-family: "Comfortaa", cursive;
}

.item-listing.edit-tags .current-tags {
   display: none;
}

.item-listing .show-on-item-hover {
   visibility: hidden;
}

.item-listing:hover .show-on-item-hover {
   visibility: visible;
}

/* END ITEM LISTING  */

.card.filter {
   margin: 10px;
}

.card-header {
   font-weight: bold;
}

/* SETTINGS */

#settings-modal form {
   padding: 10px;
   margin: 10px 0;
   border: 2px gray solid;
   border-radius: 5px;
}

/* END SETTINGS */

.show-on-readonly {
   display: none !important;
}

body.readonly .show-on-readonly {
   display: initial !important;
}

body.readonly .hide-on-readonly {
   display: none !important;
}

.toast-container {
   position: fixed;
   margin: 10px;
   top: 0;
   right: 0;
   z-index: 999999;
}

.toast-body {
   font-family: "Rokkitt", serif;
   font-size: larger;
   font-weight: bold;
}

.hide {
   display: none;
}